#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Name=Softporn Adventure
GenericName=Classic text adventure game
Comment=A modern port of Softporn Adventure (1981) by Charles Benton
Icon=input-keyboard
Categories=Game;

Type=Application
Terminal=true
StartupNotify=true

# The only way to get working from a local directory. The special %k field is the path of our .desktop file. 
# See: https://specifications.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.1.html#exec-variables
Exec=DIR=$(dirname "%k");  cd "$DIR";  ./softporn_adventure


# Created by Michael Persimmon, 27 Dec 2019

# NOTE: runs script under sh, not bash.
